:root {
    --theme1-bg: #1a3da6;
    --theme1-bg90: #1a3da6E6;
    --theme2-bg: #0f2462;
    --theme2-bg70: #0f2462B3;
    --theme2-bg85: #0f2462D9;
    --primary-color: #fff;
    --secondary-color: #fff;
}
@media (max-width: 767px) {
    .header .logo {
        width: 130px;
    }
}
